# dependencies
/node_modules

# TypeScript
/dist
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# VS Code
#.vscode/

# IDEs and editors
#.idea/